* {
  box-sizing: border-box;
}

body {
  background-image: url("../IMG/pexels-fauxels-3183198.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #5caede;
}
.tout {
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
}
.tout2 {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  background-color: #5cdeb0;
  line-height: 20px;
}

.tout3 {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.tout4 {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.intro {
  text-align: left;
  color: rgb(77, 77, 77);
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box1 {
  text-align: center;
  font-size: xx-large;
  top: 30px;
  left: 30px;
  color: rgb(77, 77, 77);
}

div.intro img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  object-position: 32%;
  border-radius: 15%;
  float: left;
  margin-right: 30px;
}

div.gallery img {
  width: 75%;
  height: auto;
  object-fit: cover;
  object-position: 50%;
  border-radius: 15%;
}

.effet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 75%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.centre:hover .effet {
  opacity: 1;
  border-radius: 10%;
}

.desc {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image {
  display: block;
  width: 100%;
  height: auto;
  size-adjust: initial;
}

.centre {
  width: 50%;
  position: relative;
}

@media only screen and (max-width: 700px) {
  .centre {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .centre {
    width: 100%;
  }
}

.adje {
  color: rgb(118, 118, 118);
  text-align: center;
  outline: 2px double;
  margin: auto;
  background-color: hsl(217, 100%, 76%);
}

.centra:hover .effet {
  opacity: 1;
  border-radius: 10%;
}

.centra {
  width: 100%;
  position: relative;
}

.checked {
  color: orange;
}

.fort {
  color: rgb(19, 228, 33);
  font-size: xx-large;
}

.faible {
  color: crimson;
  font-size: xx-large;
}

.inter {
  color: #24667c;
  font-size: x-large;
}

.vie {
  color: #fd1695;
  font-size: x-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
